
* {
  padding:0;
  margin:0;
}
/* 
.menu-item:hover {
  cursor: pointer;
  color: #fd711a !important;
  background: #f7f7f7 !important;
  border-radius: 10px;
}

.active .menu-item {
  color: #fd711a !important;
  background: #061019;
  border-radius: 10px;
} */

.active .nav-link {
  color: #fd711a !important;
} 

.navbar {
float:left;
width:100%;

}
.navbar li {
float: left; 
list-style:none ;
margin-right: 20px;

}

.navbar li a { 
  color: #c83c34; 
  text-decoration:none; 
  padding:20px;
  display:block;
  font-weight:bold;
}

.center ul{
width: -moz-fit-content;
width: -webkit-fit-content;
width: fit-content;
margin: auto;
margin-left: 100px;
}

.hr.mb-5 {

  opacity: none;
}

.bg {
 background-image: url("{{asset('img/movie.png')}}");
}

.list-group-item+.list-group-item {
  border-top-width: none;
}

